.nav-link.active{
    margin-right: 100px;      
}
.navbar-brand{
    margin-right: 100px;
    font-size: 30px;
    color: #3F72AF;
}
.nav-link{
    margin-right: 100px;
    font-size: 20px;
}
.userlog {
    margin-left: 20px;
  }
  .container-fluid {
    display: flex;
    justify-content: space-between; /* Um Platz zwischen den Elementen zu schaffen */
    align-items: center; /* Vertikal zentrieren */
  }
  